.formulaireConnexion {
    border: 1px solid #c2c4c5e5;
    width: 28%;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    margin-top: 10vh;
    height: 70vh;
    color: silver;
}

.iconUser {
    font-size: 60px;
    color: white;
}
.iconeConn {
    background: #02022d;
    height: 100px;
    padding: 10px;
    width: 100px;
    margin: auto;
    border-radius: 100px;
}

.formulaireConnexion h2 {
    text-align: center;
    margin-top: 34px;
}

.formulaireConnexion .labelText {
    margin-left: 0px;
}

.divB {
    border: 0px solid black;
    height: auto;
    width: 100%;
}

.btnConnexion:active{
    border:1px solid white;
    transform: scale(1);
}