.diagnostic {
    position: absolute;
    top: 45px;
    transform: translateX(-20%);
    left: 26.6%;
    width: 91%;
    border: 1px solid white;
    margin: auto;
    display: block;
    margin-top: 15px;
    padding:10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid thistle;
    height:92vh;
}

.diagnostic h3{
    border: 1px solid white;
    padding: 15px;
    background-color: #02022d;
    color: silver;
    border-radius: 5px;
}

.diagnostic label{
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: bold;
}
.diagnostic .form{
    width: 50%;
    margin:auto;
}
