.form{
    border: 1px solid silver;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
}

#formButton{
    width: 100% !important;
    margin-top: 23px;
    margin-left: 20px;
    position: relative;
    
}

.form input[type="text"]{
    width: 90%;    
    display: inline-block;
    margin-right: 30px;

}

#formButton{
    border: 1px solid blue;
    margin-left: 1px;
    width: 12px
}
